name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: login to Dockerhub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.UPIL_USER }}
        password: ${{ secrets.UPIL_DOCKER }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: rizqif39/testting
        labels: latest
